.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.title__header {
    font-size: 32px;
}

.register__button {
    width: 140px;
    height: 50px;
    padding: 13px 20px;
    background-color: rgba(255, 169, 41, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.register__button:active {
    background-color: rgba(223, 148, 37, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.search-form {
    padding: 20px;
    width: 220px;
}

.search-form__items {
    width: 100%;
    margin-bottom: 40px;
}

.search-form__items:nth-of-type(2) {
    border-bottom: 1px solid rgba(224, 223, 222, 1);
}

::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 14px;
    color: rgba(224, 223, 222, 1);
}

.search__text {
    width: 90%;
    height: 30px;
    padding: 14.5px 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 223, 222, 1);
    border-radius: 25px;
}

.search__button {
    width: 100%;
    padding: 10px;
    background-color: rgba(245, 200, 0, 1);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.search__button:active {
    background-color: rgba(221, 180, 0, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.sort__label {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.sort__group {
    position: relative;
}

.sort__group::after {
    position: absolute;
    top: 40%;
    right: 2%;
    width: 0;
    height: 0;
    border-top: 14px solid rgba(190, 177, 166, 1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-60%)
}

.sort__select {
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
    padding: 11px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 223, 222, 1);
}

.sort__select {
    color: rgba(224, 223, 222, 1);
}

.sort__select:focus,
.sort__select option {
    color: black;
}

select option {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.sort__tag {
    width: 60%;
    padding: 10px;
    border: 1px solid rgba(245, 200, 0, 1);
    border-radius: 15px;
    align-items: center;
}

.sort__span {
    font-size: 14px;
    font-weight: 300;
}

.sort__button {
    border: 1px solid rgba(245, 200, 0, 1);
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: rgba(245, 200, 0, 1);
    margin-left: 10px;
    background-color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-content {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(75, 75, 75, 1);
}

.fruit-card {
    width: 370px;
    height: 330px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.fruit-card__button {
    width: 100%;
    height: 100%;
    border: none;
}

.fruit-img img {
    width: 370px;
    height: 270px;
    position: relative;
    top: -20px;
    left: -5px;
}

.card-group {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(75, 75, 75, 1);
}

.paginate {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}